@import '../styles/variable.scss';

@font-face {
    font-family: "AsianStyle";
    src: url("../../public/font/shanghai.ttf");
}
@font-face {
    font-family: "ChowStyle";
    src: url("../../public/font/CHOWFUN_.TTF");
}

* {
    box-sizing: unset;
}

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../public//img/asianlandscape.jpg');
    background-size: 100% 100%;
    letter-spacing: $letter_spacing;
}
#__next{
    height: 100%;
    width: 100%;
}
.p{
    color: $white_color;
    font-size: $font_size;
    font-family: $second_font;
    &_small{
        font-size: $small_font_size;
    }
    &_medium{
        font-size: $medium_font_size;
    }
}
.span{
    color: $first_color;
    font-size: $font_size;
    font-family: $second_font;
    &_small{
        font-size: $small_font_size;
    }
    &_medium{
        font-size: $medium_font_size;
    }
    &_light_small{
        color: $second_color;
        font-size: $small_font_size;
    }
    &_light_medium{
        color: $second_color;
        font-size: $medium_font_size;
    }
}