@import "../variable.scss";

.form_cont {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.form {
  width: 80%;
}
.form_two,
.form_one{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkCont {
  width: 100%;
  height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
}
.a_nav {
  color: $first_color;
  font-family: $second_font;
  text-decoration: none;
  font-size: $font_size;
  transition: 0.2s;
  width: 100%;
  &:hover {
    cursor: pointer;
    font-size: calc($font_size + 2px);
  }
}
.inputName {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ----------------------
//        ABOUT
// ----------------------
.form_cont_about {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.about_link_cont {
  height:100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  .about_button_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    text-align: center;
    .about_button_register {
      border-right: solid $border_width $second_color;
      display: flex;
      height: 90%;
      width: 50%;
      justify-content: center;
      align-items: center;
    }
    .about_button_register_other {
      display: flex;
      height: 90%;
      width: 50%;
      justify-content: center;
      align-items: center;
    }
    .about_button_login {
      border-left: solid $border_width $second_color;
      height: 90%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
